# 环境选择

# 开发环境
BASE_URL=http://localhost:5174
# 测试环境
# BASE_URL=https://test.yychuiyan.com
# 灰度
# BASE_URL=https://uat.yychuiyan.com
# 线上
# BASE_URL=https://testing.yychuiyan.com

# 管理员账号（全部权限）
ADMIN_USERNAME=炊烟1号
ADMIN_PASSWORD=admin123

# 普通用户账号（只读权限）
USER_USERNAME=炊烟2号
USER_PASSWORD=user123
